/nbproject/
/thinkphp/
/vendor/
/runtime/*
/public/assets/libs/
/public/uploads/*
.DS_Store
.idea
composer.lock
*.log
*.css.map
!.gitkeep
.svn
.vscode
node_modules
.user.ini

# WindsurfChatOpen
.windsurfchatopen/
.windsurfrules
