<div class="weui-desktop-popover__wrp emoji-panel__wrp">
    <span>
        <a href="javascript:void(0);" class="icon_emotion"><i>表情</i></a>
        <a href="javascript:void(0);" class="icon_url"><i>链接</i></a>
        <a href="javascript:void(0);" class="icon_phone"><i>电话</i></a>
    </span>
    <div class="weui-desktop-popover__inner hide">
        <ul class="emotions">
            {php}
                $emoji = ['[微笑]', '[撇嘴]', '[色]', '[发呆]', '[得意]', '[流泪]', '[害羞]', '[闭嘴]', '[睡]', '[大哭]', '[尴尬]', '[发怒]', '[调皮]', '[呲牙]', '[惊讶]', '[难过]', '[囧]', '[抓狂]', '[吐]', '[偷笑]', '[愉快]', '[白眼]', '[傲慢]', '[困]', '[惊恐]', '[流汗]', '[憨笑]', '[悠闲]', '[奋斗]', '[咒骂]', '[疑问]', '[嘘]', '[晕]', '[衰]', '[骷髅]', '[敲打]', '[再见]', '[擦汗]', '[抠鼻]', '[鼓掌]', '[坏笑]', '[左哼哼]', '[右哼哼]', '[哈欠]', '[鄙视]', '[委屈]', '[快哭了]', '[阴险]', '[亲亲]', '[可怜]', '😄', '😷', '😂', '😝', '😳', '😱', '😔', '😒', '[嘿哈]', '[捂脸]', '[奸笑]', '[机智]', '[皱眉]', '[耶]', '[吃瓜]', '[加油]', '[汗]', '[天啊]', '[Emm]', '[社会社会]', '[旺柴]', '[好的]', '[打脸]', '[加油加油]', '[哇]', '[翻白眼]', '[666]', '[让我看看]', '[叹气]', '[苦涩]', '[裂开]', '[嘴唇]', '[爱心]', '[心碎]', '[拥抱]', '[强]', '[弱]', '[握手]', '[胜利]', '[抱拳]', '[勾引]', '[拳头]', '[OK]', '🙏', '💪', '[西瓜]', '[啤酒]', '[咖啡]', '[蛋糕]', '[玫瑰]', '[凋谢]', '[菜刀]', '[炸弹]', '[便便]', '[月亮]', '[太阳]', '🎉', '[礼物]', '[红包]', '[發]', '[福]', '[猪头]', '👻', '[跳跳]', '[发抖]', '[怄火]', '[转圈]'];
            {/php}
            {for start="0" end="2465" step="21.25"}
                <li class="emotions_item" data-content="{$emoji[($i / 21.25)]}">
                    <span class="icon_emotion_sprite js_emotion_i" style="background-position: 0px -{$i|htmlentities}px;"></span>
                </li>
            {/for}
        </ul>
    </div>
</div>