<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">商户类型:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-type_text" class="form-control" name="row[type_text]" type="text" value="{$row.type_text}" readonly>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">入驻费:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-entry_fee" class="form-control" step="0.01" name="row[entry_fee]" type="number" value="{$row.entry_fee}" required>
            <span class="help-block">设置为0表示免费入驻</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">状态:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-status" class="form-control selectpicker" name="row[status]">
                <option value="normal" {if $row.status=='normal'}selected{/if}>正常</option>
                <option value="hidden" {if $row.status=='hidden'}selected{/if}>隐藏</option>
            </select>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
