<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Task_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-task_id" data-rule="required" data-source="task/mutualtask/index" class="form-control selectpage" name="row[task_id]" type="text" value="{$row.task_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Task_no')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-task_no" data-rule="required" class="form-control" name="row[task_no]" type="text" value="{$row.task_no|htmlentities}" readonly>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('From_user_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-from_user_id" data-rule="required" data-source="user/user/index" data-field="nickname" class="form-control selectpage" name="row[from_user_id]" type="text" value="{$row.from_user_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('To_user_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-to_user_id" data-source="user/user/index" data-field="nickname" class="form-control selectpage" name="row[to_user_id]" type="text" value="{$row.to_user_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-amount" data-rule="required" class="form-control" step="0.01" name="row[amount]" type="number" value="{$row.amount|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Commission')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-commission" data-rule="required" class="form-control" step="0.01" name="row[commission]" type="number" value="{$row.commission|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['pending'=>__('Status pending'), 'assigned'=>__('Status assigned'), 'accepted'=>__('Status accepted'), 'paid'=>__('Status paid'), 'verified'=>__('Status verified'), 'completed'=>__('Status completed'), 'failed'=>__('Status failed'), 'cancelled'=>__('Status cancelled')], $row.status)}
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
