<form id="reject-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <input type="hidden" name="ids" value="{$Request.param.ids|htmlentities}">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">拒绝原因</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-reason" data-rule="required" class="form-control" name="reason" rows="5" placeholder="请输入拒绝原因"></textarea>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-danger btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
