<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" class="form-control" name="row[name]" type="text" value="{$row.name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sort')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sort" class="form-control" name="row[sort]" type="number" value="{$row.sort|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Upgrade_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_select('row[upgrade_type]', ['purchase'=>__('Upgrade_type purchase'),'performance'=>__('Upgrade_type performance'),'both'=>__('Upgrade_type both')], $row.upgrade_type, ['class'=>'form-control selectpicker'])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Upgrade_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-upgrade_price" class="form-control" name="row[upgrade_price]" type="text" value="{$row.upgrade_price|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Personal_performance_min')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-personal_performance_min" class="form-control" name="row[personal_performance_min]" type="text" value="{$row.personal_performance_min|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Team_performance_min')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-team_performance_min" class="form-control" name="row[team_performance_min]" type="text" value="{$row.team_performance_min|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Direct_invite_min')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-direct_invite_min" class="form-control" name="row[direct_invite_min]" type="number" value="{$row.direct_invite_min|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Commission_rate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-commission_rate" class="form-control" name="row[commission_rate]" type="text" value="{$row.commission_rate|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_select('row[status]', ['normal'=>__('Normal'),'hidden'=>__('Hidden')], $row.status, ['class'=>'form-control selectpicker'])}
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
